#Container {
    width: 100%;
    height: auto;
    margin-top:0px
    border: 1px solid gray;
    background-color:#CCC;
    display: block;
}
div article {
    display: inline-block;
    #background-color:red;
}
div article img {
    width: 180px;
    height: 195px;
    margin:0px;

}
body {
    margin: 50px
}
footer {
    page-break-after: always;
    font-size: 90%;
    align:center;
    background-color:powderblue;
}
table, th, td {
    border: 1px solid black;
}

#rightMostImage {
    float:right;
}