body {
    margin: 5px;
}

div {
    border: 1px solid green;
    margin: 0px;
    padding: 0px;
}

body div article {
    display: inline-block;
    background-color:#CCC;
    padding:0px;
    margin:0px;

    # border: 1px solid red;
}

body div article img {
    width: 160px;
    height: 193px;
    margin:0px;
    padding:1px;
    float:right;

    #border: 1px solid blue;
}

div article h5 {
    margin:0px;
}

address {
    margin:10px;
}

footer {
    clear:both;
    font-size: 90%;
    align:center;
    background-color:powderblue;
}

table, th, td {
    border: 1px solid black;
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
}

#Container {
    width: 100%;
    border-style: solid;
    border-color: red green blue yellow;
    background-color:#CCC;
    display: inline-block;
}

.Container_article {
    background-color:#CCC;
}

#rightMostImage {
    float:right;
}

#personal_details {
    width: 50%;
}

div article h6{
    margin:3px;
    padding:2px;
}

h6 {
    margin : 2px;
}

h5 {
    margin : 2px;
}

h4 {
    margin : 0px;
    padding:1px;
}

body div article h3 {
    margin : 0px;
    padding: 0px;
}

address {
    margin : 5px;
    padding: 0px;
}

ul{
    margin:1px;
}

ul li {
    margin:0.5px;
}
body ul li{
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

p {
    margin:1px;
}

table {
    margin:5px;
}

footer{
    margin:20px 0px;
    padding:10px;
}
body footer p{
    font-size: 8px;
}

# First Paragraph
body p{
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

body div article a {
   font-size: 10px;
   background-color:#CCC;
   margin : 2px;
}

span {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color:green;
}

#certificate {
    width: 33%;
    background-color:#FFF;
    font-weight: bold;
}